@media (min-width: 1200px) {
  .post-container,
  .sidebar-container {
    padding-right: 5%;
  }
}
@media (min-width: 768px) {
  .post-container {
    padding-right: 5%;
  }
}
.sidebar-container {
  color: #bfbfbf;
  font-size: 14px;
}
.sidebar-container h5 {
  color: #ccc;
  padding-bottom: 1em;
}
.sidebar-container h5 a {
  color: #ccc !important;
  text-decoration: none;
}
.sidebar-container a {
  color: #bfbfbf !important;
}
.sidebar-container a:hover,
.sidebar-container a:active {
  color: #0085a1 !important;
}
.sidebar-container .tags a {
  border-color: #bfbfbf;
}
.sidebar-container .tags a:hover,
.sidebar-container .tags a:active {
  border-color: #0085a1;
}
.sidebar-container .short-about img {
  width: 80%;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}
.sidebar-container .short-about p {
  margin-top: 0px;
  margin-bottom: 20px;
}
.sidebar-container .short-about .list-inline > li {
  padding-left: 0px;
}
.tags {
  margin-bottom: -5px;
}
.tags a,
.tags .tag {
  display: inline-block;
  margin: 0 1px;
  margin-bottom: 6px;
  padding: 0 10px;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 999em;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
}
.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
  border-color: #fff;
  background-color: rgba(255,255,255,0.4);
  color: #fff;
  text-decoration: none;
}
.hvr-sweep-to-right {
  border-radius: 999em;
}
/*toc*/
.toc-article {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 1.5em 0 0.3em 1.5em;
  padding: 1.2em 1em 0 1em;
}
.toc-title {
  font-size: 120%;
}
#toc {
  line-height: 1em;
  font-size: 0.9em;
}
/*float right*/
.toc {
  padding: 0;
  margin: 0em;
  line-height: 1.8em;
}
.toc li {
  list-style-type: none;
}
.toc-child {
  margin-left: 0em;
}
.post_article_copyright {
/*width: 85%;*/
/*max-width: 45em;*/
  margin: 2.8em auto 0;
  padding: 0.5em 1em;
  border: 1px solid #d3d3d3;
  font-size: 0.93rem;
  line-height: 1.6em;
  word-break: break-all;
  background: rgba(255,255,255,0.4);
}
.post_article_copyright p {
  margin: 0;
}
.post_article_copyright span {
  display: inline-block;
  width: 5.2em;
  color: #b5b5b5;
  font-weight: bold;
}
.post_article_copyright .raw {
  margin-left: 1em;
  width: 5em;
}
.post_article_copyright a {
  color: #808080;
  border-bottom: 0;
}
.post_article_copyright a:hover {
  color: #a3d2a3;
  text-decoration: underline;
}
.post_article_copyright:hover .fa-clipboard {
  color: #000;
}
.post_article_copyright .post-url:hover {
  font-weight: normal;
}
.post_article_copyright .copy-path {
  margin-left: 1em;
  width: 1em;
mobile()
}
.post_article_copyright .copy-path:hover {
  color: #808080;
  cursor: pointer;
}
.back-to-top {
  text-align: center;
  display: none;
  position: fixed;
  right: 80px;
  bottom: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease-out;
  z-index: 10;
  cursor: pointer;
}
.back-to-top:hover {
  transform: translateY(-5px);
}
.back-to-top i {
  display: inline-block;
  margin-top: -6px;
  font-size: 15px;
}
/*tag-cloud*/
.tag-cloud {
  text-align: center;
  margin-top: 20px;
}
.tag-cloud-title {
  font-size: 1.8rem;
  text-align: center;
}
.tag-cloud-tags {
  text-align: center;
}
.tag-cloud a {
  display: inline-block;
  margin: 0 0.4rem;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  cursor: pointer;
  line-height: normal;
  padding: 5px 5px 5px 10px;
  position: relative;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.tag-cloud a:hover {
  color: #fff724 2 !important;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.tag-cloud-title {
  text-align: center;
  font-size: 1.8rem;
  text-align: center;
  color: #808080;
  font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
}
